@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans KR', serif;
  font-style: normal;
  color: #303030;
  background-color: #f1f1f1;
}

a {
  color: #303030;
  text-decoration: 0;
}

img {
  width: 100%;
  height: auto;
}

input {
  font: inherit;
  outline: none;
  border: none;
}

button {
  border: none;
  font: inherit;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.fa-icon {
  width: auto;
  height: auto;
}
