.inventory-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.table-container {
  margin-top: 0.8rem;
  width: 100%;
  /* min-height: 100%; */
  border: 1px solid #e3e3e3;
  border-radius: 0.75rem;
  background-color: #fff;
  padding-bottom: 0.5rem;
}

.table-controls {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  line-height: 1.25rem;
}

.icon-search {
  /* margin-left: 0.5rem; */
  /* margin-right: 0.25rem; */
  margin: 0 0.5rem;
}

.table-controls input {
  width: 100%;
  border: transparent;
  line-height: 1.75rem;
}

.table-wrapper {
  overflow-x: auto;
}
