.inventory-title {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.table-container {
  width: 100%;
  /* min-height: 100%; */
  border: 1px solid #e3e3e3;
  border-radius: 0.75rem;
  background-color: #fff;
  padding-bottom: 0.5rem;
}

.table-controls {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

.table-controls input {
  width: 100%;
  border: transparent;
  padding: 0.375rem;
  /* line-height: 1.25rem; */
}

.table-wrapper {
  overflow-x: auto;
}
